classroom.json
[
    {
        "id": "feeef0729fbfcbfc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f157ebd3fbda6c2b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad8e3bf18d7ae5ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6a030f239051357a",
        "type": "ui_tab",
        "name": "Test Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ced4ec6e28296734",
        "type": "ui_group",
        "name": "Button",
        "tab": "6a030f239051357a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3184cea96e8ca503",
        "type": "ui_group",
        "name": "Switch",
        "tab": "6a030f239051357a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7f3cbee0a5c4a8d8",
        "type": "ui_group",
        "name": "Slider",
        "tab": "6a030f239051357a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3b3fe37f09c4c04d",
        "type": "ui_text",
        "z": "f157ebd3fbda6c2b",
        "group": "ced4ec6e28296734",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Display Text 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "155e2a84dc8c8076",
        "type": "ui_button",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "group": "ced4ec6e28296734",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Click Me!",
        "tooltip": "1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Done!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "3b3fe37f09c4c04d"
            ]
        ]
    },
    {
        "id": "084cdca075d87b61",
        "type": "ui_text",
        "z": "f157ebd3fbda6c2b",
        "group": "3184cea96e8ca503",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Display Text 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "ffcb14e02c3871bb",
        "type": "ui_switch",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "label": "Toggle Me!",
        "tooltip": "",
        "group": "3184cea96e8ca503",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "084cdca075d87b61"
            ]
        ]
    },
    {
        "id": "9bab03b8a29d0608",
        "type": "comment",
        "z": "f157ebd3fbda6c2b",
        "name": "Dashboard",
        "info": "",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "e406c8d380ec7aea",
        "type": "ui_slider",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "label": "Adjust me!",
        "tooltip": "",
        "group": "7f3cbee0a5c4a8d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "57d420704c3d421d"
            ]
        ]
    },
    {
        "id": "57d420704c3d421d",
        "type": "ui_gauge",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "group": "7f3cbee0a5c4a8d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e02cab43312faa0",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "d633cf15d27af855",
                "b4052e4d11bb82f6",
                "18b4df602d6cb9f6"
            ]
        ]
    },
    {
        "id": "6e7b9150baea7b4c",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "03457b2fa5ef0a8f"
            ]
        ]
    },
    {
        "id": "d57c14bda3c64c9a",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "03457b2fa5ef0a8f"
            ]
        ]
    },
    {
        "id": "2b6fbf067156f04c",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "44ea5ac983fabe2e",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "9823acd0ed9cb478"
            ]
        ]
    },
    {
        "id": "9f1eb320ae7206c9",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "9823acd0ed9cb478"
            ]
        ]
    },
    {
        "id": "d633cf15d27af855",
        "type": "function",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "a76e5336deadcc35"
            ]
        ]
    },
    {
        "id": "b4052e4d11bb82f6",
        "type": "function",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "a76e5336deadcc35",
                "18336cb37f270c1b"
            ]
        ]
    },
    {
        "id": "18b4df602d6cb9f6",
        "type": "debug",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "03457b2fa5ef0a8f",
        "type": "switch",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "9823acd0ed9cb478",
        "type": "delay",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 310,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a76e5336deadcc35",
        "type": "debug",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "18336cb37f270c1b",
        "type": "debug",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    }
]