classroom.json
[
    {
        "id": "feeef0729fbfcbfc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f157ebd3fbda6c2b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad8e3bf18d7ae5ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6a030f239051357a",
        "type": "ui_tab",
        "name": "Test Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ced4ec6e28296734",
        "type": "ui_group",
        "name": "Button",
        "tab": "6a030f239051357a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3184cea96e8ca503",
        "type": "ui_group",
        "name": "Switch",
        "tab": "6a030f239051357a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7f3cbee0a5c4a8d8",
        "type": "ui_group",
        "name": "Slider",
        "tab": "6a030f239051357a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6127863b723583da",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "77fd842daf2b9dbc",
                "a27b4f93ed9f10c4"
            ]
        ]
    },
    {
        "id": "34e6fd96051cac7b",
        "type": "debug",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "77fd842daf2b9dbc",
        "type": "function",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "34e6fd96051cac7b"
            ]
        ]
    },
    {
        "id": "e6437db4fa4c1ebb",
        "type": "debug",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 240,
        "wires": []
    },
    {
        "id": "a27b4f93ed9f10c4",
        "type": "function",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "func": "var timestamp = msg.payload;\n\nmsg.payload = {\n    ts:timestamp,\n    test:\"testing\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "e6437db4fa4c1ebb"
            ]
        ]
    },
    {
        "id": "c18124c71df5c965",
        "type": "switch",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "4ff96f79ec9ab828"
            ],
            [
                "10725a3c39ba61a6"
            ]
        ]
    },
    {
        "id": "4ff96f79ec9ab828",
        "type": "change",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "more",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "b57287e7ee8053c6"
            ]
        ]
    },
    {
        "id": "40fb9a38f8f0d7c1",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "c18124c71df5c965"
            ]
        ]
    },
    {
        "id": "191cadbd1cce46ef",
        "type": "inject",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "c18124c71df5c965"
            ]
        ]
    },
    {
        "id": "10725a3c39ba61a6",
        "type": "change",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "less",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "b57287e7ee8053c6"
            ]
        ]
    },
    {
        "id": "b57287e7ee8053c6",
        "type": "debug",
        "z": "feeef0729fbfcbfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b3fe37f09c4c04d",
        "type": "ui_text",
        "z": "f157ebd3fbda6c2b",
        "group": "ced4ec6e28296734",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Display Text 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "155e2a84dc8c8076",
        "type": "ui_button",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "group": "ced4ec6e28296734",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Click Me!",
        "tooltip": "1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Done!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "3b3fe37f09c4c04d"
            ]
        ]
    },
    {
        "id": "084cdca075d87b61",
        "type": "ui_text",
        "z": "f157ebd3fbda6c2b",
        "group": "3184cea96e8ca503",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Display Text 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "ffcb14e02c3871bb",
        "type": "ui_switch",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "label": "Toggle Me!",
        "tooltip": "",
        "group": "3184cea96e8ca503",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "084cdca075d87b61"
            ]
        ]
    },
    {
        "id": "9bab03b8a29d0608",
        "type": "comment",
        "z": "f157ebd3fbda6c2b",
        "name": "Dashboard",
        "info": "",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "e406c8d380ec7aea",
        "type": "ui_slider",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "label": "Adjust me!",
        "tooltip": "",
        "group": "7f3cbee0a5c4a8d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "57d420704c3d421d"
            ]
        ]
    },
    {
        "id": "57d420704c3d421d",
        "type": "ui_gauge",
        "z": "f157ebd3fbda6c2b",
        "name": "",
        "group": "7f3cbee0a5c4a8d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 480,
        "wires": []
    }
]